/*
 * Copyright (c) 2025 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>

#include <layouts/common/ortho_4x12/all1u.dtsi>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,physical-layout = &layout_ortho_4x12_all1u;
    };

    matrix_transform_40_all1u: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <6>;
        rows = <8>;
        map = <
            RC(0,5) RC(0,4) RC(0,3) RC(0,2) RC(0,1) RC(0,0) RC(4,0) RC(4,1) RC(4,2) RC(4,3) RC(4,4) RC(4,5)
            RC(1,5) RC(1,4) RC(1,3) RC(1,2) RC(1,1) RC(1,0) RC(5,0) RC(5,1) RC(5,2) RC(5,3) RC(5,4) RC(5,5)
            RC(2,5) RC(2,4) RC(2,3) RC(2,2) RC(2,1) RC(2,0) RC(6,0) RC(6,1) RC(6,2) RC(6,3) RC(6,4) RC(6,5)
            RC(3,5) RC(3,4) RC(3,3) RC(3,2) RC(3,1) RC(3,0) RC(7,0) RC(7,1) RC(7,2) RC(7,3) RC(7,4) RC(7,5)
            >;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        wakeup-source;

        diode-direction = "col2row";

        // cols:
        // machine.P1_06, // col5 // 9
		// machine.P0_09, // col4 // 10
		// machine.P1_04, // col3 // 8
		// machine.P0_10, // col2 // 16
		// machine.P0_11, // col1 // 7
		// machine.P1_11, // col0 // 14

        col-gpios
            = <&pro_micro 14 GPIO_ACTIVE_HIGH>
            , <&pro_micro 7 GPIO_ACTIVE_HIGH>
            , <&pro_micro 16 GPIO_ACTIVE_HIGH>
            , <&pro_micro 8 GPIO_ACTIVE_HIGH>
            , <&pro_micro 10 GPIO_ACTIVE_HIGH>
            , <&pro_micro 9 GPIO_ACTIVE_HIGH>   
            ;

        // rows 
        // // left
		// machine.P0_20, // row0 // 3
		// machine.P0_17, // row1 // 2
		// machine.P0_08, // row2 // 0
		// machine.P0_31, // row3 // 21
		// // right
		// machine.P1_13, // row4 // 15
		// machine.P1_15, // row5 // 18
		// machine.P0_02, // row6 // 19
		// machine.P0_29, // row7 // 20


        row-gpios
            = <&pro_micro 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };

    encoder: encoder {
        compatible = "alps,ec11";
        a-gpios = <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&pro_micro 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <80>;
        status = "okay";
    };

    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&encoder>;
        triggers-per-rotation = <20>;
    };
};

&layout_ortho_4x12_all1u {
    transform = <&matrix_transform_40_all1u>;
};